* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

    



ul li:hover {
    background: #ddd;
}




li button{
    text-align: right;
    align-items: right;
    float:inline-end;
}

.completed {
    color: green;  
    
}

div {
    border:10px;
}