:root {
    background-color: powderblue;
}

.button {
    text-align: center;
    font-size: 13px;
    color:black;
    
    
}

.btn-dec {
    color:red;
}

.btn-inc {
    color:darkgreen;
}

.btn-res {
    color:blue;

} 